<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fibretel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/@(nameof(Fibretel)).styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/adminLayout.css" asp-append-version="true" />
</head>
<body>
    <div class="infoBar">
        <div>Přihlášený uživatel: @ViewBag.LoggedAs</div>
        <div><a asp-controller="Login" asp-action="Logout">Odhlásit se</a></div>
    </div>
    <div class="layout-wrapper">
        <header>
            <div class="col-4">
                <div class="list-group" role="tablist">
                    <a asp-controller="Admin" asp-action="Services" class="list-group-item list-group-item-action" id="services" role="tab">Služby</a>
                    <a asp-controller="Admin" asp-action="Requests" class="list-group-item list-group-item-action" id="requests" role="tab">Žádosti</a>
                    <a asp-controller="Admin" asp-action="AccountSettings" class="list-group-item list-group-item-action" id="account-settings" role="tab">Nastavení účtu</a>
                    @if (ViewBag.Superior != null)
                    {
                        <a asp-controller="SuperiorAdmin" asp-action="AccountsManagement" class="list-group-item list-group-item-action" id="accounts-management" role="tab">Správa účtů</a>
                        <a asp-controller="SuperiorAdmin" asp-action="Logs" class="list-group-item list-group-item-action" id="logs" role="tab">Logy</a>
                    }
                </div>
            </div>
        </header>
        <div class="mainContainer">
            <main role="main">
                @RenderBody()
            </main>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
