@using RealEstate.Models;
@using RealEstate.Models.Entities;
<head>
    <link rel="stylesheet" href="~/css/offer.css" />
    <link rel="stylesheet" href="~/css/services.css" />
</head>

@{
    ViewData["Title"] = "Nabídka služeb";
    int counter = 0;
}

<content>   
    <div class="services">
        @foreach (Service service in ViewBag.Services)
        {
            <div class="service-card">
                <div class="card-background" style="background-image:url('@service.Photo'); background-size:cover; background-repeat:no-repeat; width:100%;">
                    <div class="card-content">
                        <div class="service-card-header">
                            <h3 class="service-name">@service.Name</h3>
                        </div>
                        <div class="service-card-footer">
                            <h5>Cena od @service.Price Kč</h5>
                            @{
                                int count = (service.Requests / 100) * 100;
                            }
                            @if (count > 0)
                            {
                                <h6>@count+ zájemců</h6>
                            }
                            <a asp-controller="Offer" asp-action="Detail" asp-route-id="@service.Id" class="btn btn-primary" style="float:right">Podrobnosti</a>
                        </div>
                    </div>
                </div>
            </div>
            counter++;
        }
    </div>
    <div>
        <button class="btn-more">Více</button>
    </div>
</content>

<div style="height:5px;"></div>
<script src="~/js/services.js"></script>