<head>
    <link rel="stylesheet" href="~/css/home.css" />
</head>

@{
    ViewData["Title"] = "Domovská Stránka";
}

<div class="slider">
    <div class="slides">
        <div class="slide-image"><img src="~/Images/Main/placeholderFullHD.png" alt="Obrazek 1" /> </div>
        <div class="slide-image"><img src="~/Images/Main/placeholderFullHD.png" alt="Obrazek 2" /> </div>
        <div class="slide-image"><img src="~/Images/Main/placeholderFullHD.png" alt="Obrazek 3" /> </div>
        <div class="slide-image"><img src="~/Images/Main/placeholderFullHD.png" alt="Obrazek 4" /> </div>
    </div>
    <div class="slider-navigation">
        <div class="nav-button"></div>
        <div class="nav-button"></div>
        <div class="nav-button"></div>
        <div class="nav-button"></div>
    </div>
</div>
<content>
    <div class="homeDescription">
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
            sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Phasellus enim erat, vestibulum vel, aliquam a, posuere eu,
            velit. Phasellus faucibus molestie nisl. Nulla quis diam. Pellentesque pretium lectus id turpis. Donec iaculis gravida nulla.
            Aenean vel massa quis mauris vehicula lacinia. Phasellus et lorem id felis nonummy placerat. Class aptent taciti sociosqu ad litora
            torquent per conubia nostra, per inceptos hymenaeos. Vivamus luctus egestas leo. Nullam eget nisl.

            Etiam commodo dui eget wisi. Aenean vel massa quis mauris vehicula lacinia. Praesent dapibus. Aliquam erat volutpat. Fusce tellus.
            Suspendisse nisl. Vivamus luctus egestas leo. Nulla est. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat.
            Etiam sapien elit, consequat eget, tristique non, venenatis quis, ante. Et harum quidem rerum facilis est et expedita distinctio.
        </p>
    </div>
    <div class="wrapper">
        <div class="photo">
            <img src="~/Images/Main/dog.jpg" />
        </div>
        <div class="desc">
            <h3>Nadpis 1</h3>
            <p>
                Etiam commodo dui eget wisi. Aenean vel massa quis mauris vehicula lacinia. Praesent dapibus. Aliquam erat volutpat. Fusce tellus.
                Suspendisse nisl. Vivamus luctus egestas leo. Nulla est. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat.
                Etiam sapien elit, consequat eget, tristique non, venenatis quis, ante. Et harum quidem rerum facilis est et expedita distinctio.
            </p>
        </div>

    </div>
    <div class="wrapper">
        <div class="desc">
            <h3>Nadpis 2</h3>
            <p>
                Etiam commodo dui eget wisi. Aenean vel massa quis mauris vehicula lacinia. Praesent dapibus. Aliquam erat volutpat. Fusce tellus.
                Suspendisse nisl. Vivamus luctus egestas leo. Nulla est. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat.
                Etiam sapien elit, consequat eget, tristique non, venenatis quis, ante. Et harum quidem rerum facilis est et expedita distinctio.
            </p>
        </div>
        <div class="photo">
            <img src="~/Images/Main/dog2.jpg" />
        </div>
    </div>
    <div class="wrapper">
        <div class="photo">
            <img src="~/Images/Main/dog.jpg" />
        </div>
        <div class="desc">
            <h3>Nadpis 3</h3>
            <p>                
                Etiam commodo dui eget wisi. Aenean vel massa quis mauris vehicula lacinia. Praesent dapibus. Aliquam erat volutpat. Fusce tellus.
                Suspendisse nisl. Vivamus luctus egestas leo. Nulla est. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat.
                Etiam sapien elit, consequat eget, tristique non, venenatis quis, ante. Et harum quidem rerum facilis est et expedita distinctio.
            </p>
        </div>
    </div>
    <div class="wrapper">
        <div class="desc">
            <h3>Nadpis 4</h3>
            <p>                
                Etiam commodo dui eget wisi. Aenean vel massa quis mauris vehicula lacinia. Praesent dapibus. Aliquam erat volutpat. Fusce tellus.
                Suspendisse nisl. Vivamus luctus egestas leo. Nulla est. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat.
                Etiam sapien elit, consequat eget, tristique non, venenatis quis, ante. Et harum quidem rerum facilis est et expedita distinctio.
            </p>
        </div>
        <div class="photo">
            <img src="~/Images/Main/dog2.jpg" />
        </div>
    </div>
</content>
<div style="height:5px;"></div>

<script src="~/js/home.js"></script>