@using RealEstate.Models;
@using RealEstate.Models.Entities;

@{
    ViewData["Title"] = "Administrace";
    Layout = "_AdminLayout";
}

<div style="padding: 10px">
    <div class="alert alert-success" role="alert">
        Změny byly úspěšně uloženy.
    </div>
</div>