
content {
    gap: 20px;
    padding-inline: 5px;
    transition: ease 1s;
}

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    color: white;
    width: 100%;
}

.service-card {
    display: flex;
    min-height: 400px;
    width: 100%;
    transition: 0.2s ease;
    padding: 15px;
}

.card-content {
    display: flex;
    flex-direction: column;
    border: 0.5px solid blue;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    padding: 7px;
    opacity: 0;
    transition: 0.2s ease;
}

.service-card .money {
    color: forestgreen !important;
}

.card-background {
    border: 0.5px solid black;
    border-radius: 15px;
    transition: 0.2s ease;
    background-position:center;
}

.service-card:hover {
    position: relative;
    cursor: pointer;
    padding: 0px;    
}

    .service-card:hover .card-content {
        opacity: 1;
    }

    .service-card:hover .card-background {
        border:none;
    }

.service-card-header {
    flex:4;
    display:flex;
    justify-content:center;
    align-items:center;
}
.service-card-footer {
    flex:1;
}

.btn-more {
    background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-size: 20px;
    justify-content: center;
    padding: 0.5rem 1.75rem;
    text-decoration: none;
    width: 100%;
    border: 0;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

    .btn-more:hover {
        background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
    }

.noDisplay {
    display: none !important;
}
@media (min-width: 768px) {
    .services {
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .btn-more {
        padding: 0.75rem 2rem;
    }
}

@media (min-width: 1024px) {
    .services {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }
    content .service-card {
        max-width: 450px;
        min-height: 600px;
    }
}

@media (min-width: 1360px) {
    content {
        padding-inline: 8%;
    }
        content .service-card {
            max-width: 380px;
        }
}

@media (min-width: 1920px) {
    content {
        padding-inline: 15%;
    }
        content .service-card {
            max-width: 434px;
        }
}

@media (min-width: 2560px) {
    content .service-card {
        max-width: 560px;
    }
}
