
.buttons {
    display:flex;
    flex-direction:column;
    gap:5px;
}

.button-right {
    display:flex;
    justify-content:end;    
    margin: 10px 4px;
}

.table-wrap {
    max-height: 60vh;
    overflow-y: scroll;
}

@media (min-width: 768px) {
    table {
        margin-block: 10px;
        margin-inline: 15px;
        width: 98% !important;        
    }

    .button-right {
        margin-inline: 20px;
    }

    .buttons {
        flex-direction:row;
        gap:15px;
    }
    .table-wrap {
        max-height: 92vh;     
    }
}

@media (min-width: 1920px) {
}