@{
    ViewData["Title"] = "Ozvěte se nám";
}
<div style="padding: 10px">
    <div class="alert alert-success" role="alert">
        Váš požadavek byl úspěšně odeslán, nyní vyčkejte na odpověď. Děkujeme, že jste se k nám obrátili.
    </div>
</div>