@using Fibretel.Models;
@using Fibretel.Models.Dto;
@using Fibretel.Models.Entities;


@{
    ViewData["Title"] = "Správa služby";
    Layout = "_AdminLayout";
}
@model ServiceDto


<head>
    <link rel="stylesheet" href="~/css/adminService.css"/>
</head>

<div class="form-wrap">
    <form asp-controller="Admin" asp-action="EditService">
        <input type="hidden" asp-for="Service.Id" />
        <input type="hidden" asp-for="Service.Requests" />

        <div class="form-group mb-2">
            <label>Název služby:</label>
            <input type="text" asp-for="Service.Name" class="form-control" />
            <span asp-validation-for="Service.Name" class="text-danger"></span>
        </div>
        <div class="form-group mb-2">
            <label>Popis služby:</label>
            <textarea asp-for="Service.Description" class="form-control"></textarea>
            <span asp-validation-for="Service.Description" class="text-danger"></span>
        </div>
        <div class="form-group mb-2">
            <label>Malý popisek v katalogu služeb:</label>
            <textarea asp-for="Service.SmallDescription" class="form-control"></textarea>
            <span asp-validation-for="Service.SmallDescription" class="text-danger"></span>
        </div>
        <div class="form-group mb-2">
            <label>Minimální cena:</label>
            <input type="number" min="0" step="1" asp-for="Service.Price" class="form-control" />
            <span asp-validation-for="Service.Price" class="text-danger"></span>
        </div>        
        <div class="form-group mb-2">
            <label>Titulní obrázek:</label>
            <input type="file" asp-for="Service.Photo" class="form-control" />
            <span asp-validation-for="Service.Photo" class="text-danger"></span>
        </div>

        <div class="form-photos-wrapper">
            @for (int i = 0; i < Model.Photos.Count; i++)
            {
                <div class="form-group">
                    <input type="hidden" asp-for="@Model.Photos[i].Id" />
                    <input type="hidden" asp-for="@Model.Photos[i].ServiceId" />
                    <label>Cesta:</label>
                    <input type="text" asp-for="@Model.Photos[i].Path" class="form-control" />
                    <label>Text:</label>
                    <input type="text" asp-for="@Model.Photos[i].Text" class="form-control" />
                </div>
            }
        </div>

        @if (ViewBag.Action == "Add")
        {
            <button class="btn btn-success">Přidat</button>
        }
        else
        {
            <button class="btn btn-success">Uložit</button>
        }
    </form>
</div>
<script src="~/js/adminService.js"></script>