@using RealEstate.Models;
@using RealEstate.Models.Entities;
@using RealEstate.Models.Dto;

@{
    ViewData["Title"] = "Změna hesla";
    Layout = "_AdminLayout";
}
@model NewPassword

<head>
    <link rel="stylesheet" href="~/css/forms.css" />
</head>

<div class="form-wrap">
    <form asp-controller="Admin" asp-action="PasswordChange">
        <div class="form-group mb-2">
            <label>Staré heslo:</label>
            <input type="password" asp-for="OldPassword" class="form-control" required />
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
        <div class="form-group mb-2">
            <label>Nové heslo:</label>
            <input type="password" asp-for="NewPassword1" class="form-control" required />
            <span asp-validation-for="NewPassword1" class="text-danger"></span>
        </div>
        <div class="form-group mb-2">
            <label>Nové heslo:</label>
            <input type="password" asp-for="NewPassword2" class="form-control" required />
        </div>
        <div class="button-add">
            <button class="btn btn-success">Uložit</button>
        </div>
    </form>
</div>