@using Fibretel.Models;
@using Fibretel.Models.Dto;
@using Fibretel.Models.Entities;

@{
    ViewData["Title"] = "Administrace";
    Layout = "_AdminLayout";
}

<div style="padding: 10px">
    <div class="alert alert-success" role="alert">
        @ViewBag.Message
    </div>
</div>