<head>
    <link rel="stylesheet" href="~/css/about.css" />
</head>

@{
    ViewData["Title"] = "O nás";
}

<content>
    <h2 class="slogan">Náš super slogan</h2>
    <div class="about">
        <div>
            <h4>Nadpis1</h4>
            <p>
                Maecenas aliquet accumsan leo. Cum sociis natoque penatibus et magnis dis parturient montes,
                nascetur ridiculus mus. Suspendisse sagittis ultrices augue. Temporibus autem quibusdam et aut
                officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et
                molestiae non recusandae. Nullam faucibus mi quis velit. Lorem ipsum dolor sit amet,
                consectetuer adipiscing elit. Mauris tincidunt sem sed arcu. Aliquam id dolor. Praesent in mauris
                eu tortor porttitor accumsan. Maecenas lorem. Nullam at arcu a est sollicitudin euismod. Sed vel lectus.
                Donec odio tempus molestie, porttitor ut, iaculis quis, sem. Curabitur bibendum justo non orci.
            </p>
        </div>
        <div>
            <h4>Nadpis2</h4>
            <p>
                Maecenas aliquet accumsan leo. Cum sociis natoque penatibus et magnis dis parturient montes,
                nascetur ridiculus mus. Suspendisse sagittis ultrices augue. Temporibus autem quibusdam et aut
                officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et
                molestiae non recusandae. Nullam faucibus mi quis velit. Lorem ipsum dolor sit amet,
                consectetuer adipiscing elit. Mauris tincidunt sem sed arcu. Aliquam id dolor. Praesent in mauris
                eu tortor porttitor accumsan. Maecenas lorem. Nullam at arcu a est sollicitudin euismod. Sed vel lectus.
                Donec odio tempus molestie, porttitor ut, iaculis quis, sem. Curabitur bibendum justo non orci.
            </p>
        </div>
        <div class="wideAbout">
            <h4>Nadpis3</h4>
            <p>
                Fusce nibh. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                Duis sapien nunc, commodo et, interdum suscipit, sollicitudin et, dolor. Fusce nibh. Proin in tellus sit amet nibh
                dignissim sagittis. Etiam posuere lacus quis dolor. Nullam at arcu a est sollicitudin euismod. Maecenas aliquet accumsan
                leo. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam
                eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Pellentesque arcu. In enim a arcu imperdiet
                malesuada. Integer in sapien. Ut tempus purus at lorem. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore eu fugiat nulla pariatur. Mauris elementum mauris vitae tortor. Etiam commodo dui eget wisi. Mauris dictum facilisis
                augue. Phasellus et lorem id felis nonummy placerat.
            </p>
        </div>
        <div class="wideAbout">
            <h4>Nadpis4</h4>
            <p>
                Maecenas aliquet accumsan leo. Cum sociis natoque penatibus et magnis dis parturient montes,
                nascetur ridiculus mus. Suspendisse sagittis ultrices augue. Temporibus autem quibusdam et aut
                officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et
                molestiae non recusandae. Nullam faucibus mi quis velit. Lorem ipsum dolor sit amet,
                consectetuer adipiscing elit. Mauris tincidunt sem sed arcu. Aliquam id dolor. Praesent in mauris
                eu tortor porttitor accumsan. Maecenas lorem. Nullam at arcu a est sollicitudin euismod. Sed vel lectus.
                Donec odio tempus molestie, porttitor ut, iaculis quis, sem. Curabitur bibendum justo non orci.
            </p>
        </div>
    </div>
</content>

<div style="height:5px;"></div>

<script src="~/js/about.js"></script>